@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="api/curtomers" method="post">
        <input name="FirstName" placeholder="First Name"/>
        <input name="LastName" placeholder="Last Name" />
        <input name="ShippingAddress.street" placeholder="Shipping Address Street" />
        <input name="ShippingAddress.city" placeholder="Shipping Address City" />
        <input name="BillingAddress.street" placeholder="Billing Address Street" />
        <input name="BillpingAddress.street" placeholder="Billing Address Street" />

        <input type="submit" value="Submit" />

        

    </form>
</body>
</html>